html {
  height: 100%;
  width: 100%;
}

body {
  height: 95%;
  width: 100%;
  font-family: sans-serif;
}

.main-container {
  width: 75%;
  margin: 10px auto;
  background: rgba(255, 255, 255, 0.86);
  padding: 5px;
  border-radius: 10px;
}

.main-container h1 {

  text-align: center;
}

.text-box {
  margin: 0px auto;
  width: 40%;
}

p{
  border: 1px solid black;
  text-align: left;
  margin: 3px 0;
  font-size: 20px;
}

strong {
  font-size: 10px;
  background-color: rgb(16,162,220);
  color: white;
  border-radius:25px;
  padding: 2px;
  text-align: right;
}
